body{
	font-family: Tahoma;
}
header{
	background: #333;
	border-bottom: solid #333 1px;
	color: #fff;
	margin: 0;
	padding: 15px 0;
}

.logo{
	width: 80px;
	height: 80px;
}


nav ul{
	float: right;
	font-size: 14px;
	line-height: 14px;
	list-style-type: none;
	margin: 0 -15px 0 0;
	padding-top: 34px;
	text-transform: uppercase;
	white-space: nowrap;
}

nav li{
	float: left;
	margin: 0;
	padding: 0px;
	position: relative;
}

nav li:hover a{
	background: #585858;
}

nav a{
	color: #eee;
	padding: 10px 15px;
	text-decoration: none;
	text-shadow: 2px 2px 4px #000;
}

nav a:hover{
	color: #fff;
}
/*Sección de "latest episodes"*/
.latepisodes{
	background: #e1e1ea;
	padding-bottom: 50px;
	padding-top: 20px;
}
h3{
	text-align: center;
}
/*Sección de imagenes*/
.images{
	margin-top: 50px;
	margin-left: -150px;
}
h6{
	margin-top: -20px;
	margin-bottom: 15px;
	text-align: center;
}
/*imágenes del cuerpo*/
.imgtam{
	background-color: white;
	border: 1px solid #d9d9d9;
	height: 125px;
	margin-bottom: 25px;
	padding: 3px;
	width: 125px;
}
/*Imagenes de la seccción Latest episodes*/
.imgeptam{
	background-color: white;
	border: 1px solid #d9d9d9;
	height: 220px;
	margin-top: 20px;
	padding: 3px;
	width: 220px;


}
/*Sección de suscripción*/
.suscripcion{
	font-size: 15px;
	margin-bottom: 15px;
	margin-top: 15px;


}
.footer{
	background: #404040; 
	color: white;
}
.footer{
	color: white;
}
a:link{
	text-decoration: none;
	
}
a{
	color: #2e5cb8;
}
ul>li{
	list-style-type: none;
}
.inline{
	display: inline;
}
.icotam{
	height: 15px;
	margin-bottom: 5px;
	width: 15px;

}
.inline{
	display: inline-block;

}
hr{
	width: 250px;
	border: 2px solid #c2c2d6;
}
.whitespaceinline{
 white-space: pre-line;
}
.whitespacepre{
	white-space: pre;
}
.whitespacenowrap{
	white-space: nowrap
}
.linkfooter{
	color: white;
}
.lifooter{
	font-size: 14px;
}
.colorsilver{
	color: #C0C0C0;	
}
.copyright{
	font-size: 13px;
}
.stylefooter{
	margin-bottom: 15px;
	margin-top: 15px;
}
.center{
	text-align: center;
}
.stylessusapp{
	margin-right: 10px;
	margin-top: 2px;
}
span{
	font-size: 13px;
	margin-left: 10px;
}
.subtitulosimg{
	
}
